In [1]:
import pandas as pd
data_simulator = pd.read_csv('./Res/simulator_data.csv')
data_simulator

,group,loan_id,gender,age,amount,num_loan,duration,year_ratio,diff_city,marriage,...,y_installment,y_installment_timestep,y_state_cum_overduelength,y_remaining_debt,y_state_capital,y_state_interests,y_state_penalty,installment_done,loan_done,recovery_rate_weighted
0,train,/+6C2lDDYJgzzCXpn96AFA==,1,18,2000,1,6,16,40421.53,0,...,2,1,2,2000.000000,666.666667,53.333333,3.333333,1,0,0.205350
1,train,/+6C2lDDYJgzzCXpn96AFA==,1,18,2000,1,6,16,40421.53,0,...,2,2,7,2000.000000,666.666667,53.333333,11.666667,0,0,0.000000
2,train,/+6C2lDDYJgzzCXpn96AFA==,1,18,2000,1,6,16,40421.53,0,...,2,3,7,2000.000000,666.666667,53.333333,11.666667,0,0,0.000000
3,train,/+6C2lDDYJgzzCXpn96AFA==,1,18,2000,1,6,16,40421.53,0,...,2,4,8,2000.000000,666.666667,53.333333,13.333333,0,0,0.000000
4,train,/+6C2lDDYJgzzCXpn96AFA==,1,18,2000,1,6,16,40421.53,0,...,3,1,0,1666.666667,666.666667,53.333333,0.000000,1,0,0.177079
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200009,test,ZWocy2KIKqJbgKZVoXZIFA==,1,30,2900,1,5,18,0.00,0,...,5,1,2,1740.000000,1740.000000,130.500000,8.700000,1,0,0.000000
200010,test,ZWocy2KIKqJbgKZVoXZIFA==,1,30,2900,1,5,18,0.00,0,...,5,2,-15,1740.000000,1740.000000,130.500000,-37.700000,0,0,0.000000
200011,test,ZWocy2KIKqJbgKZVoXZIFA==,1,30,2900,1,5,18,0.00,0,...,5,3,24,1740.000000,1740.000000,130.500000,78.300000,0,0,0.000000
200012,test,ZWocy2KIKqJbgKZVoXZIFA==,1,30,2900,1,5,18,0.00,0,...,5,4,-1,1740.000000,1740.000000,130.500000,8.700000,0,0,0.000000
200013,test,ZWocy2KIKqJbgKZVoXZIFA==,1,30,2900,1,5,18,0.00,0,...,5,4,-1,1740.000000,1740.000000,130.500000,8.700000,1,1,0.000000

In [2]:
# show dataset names
data_simulator.columns

Index(['group', 'loan_id', 'gender', 'age', 'amount', 'num_loan', 'duration',
       'year_ratio', 'diff_city', 'marriage', 'kids', 'month_in', 'housing',
       'edu', 'motivation', 'installment', 'installment_timestep',
       'state_cum_overduelength', 'remaining_debt', 'state_capital',
       'state_interests', 'state_penalty', 'y_installment',
       'y_installment_timestep', 'y_state_cum_overduelength',
       'y_remaining_debt', 'y_state_capital', 'y_state_interests',
       'y_state_penalty', 'installment_done', 'loan_done',
       'recovery_rate_weighted'],
      dtype='object')

In [ ]:
simulator_data_train = data_simulator.loc[data_simulator['group'] == 'train']
simulator_data_train

,group,loan_id,gender,age,amount,num_loan,duration,year_ratio,diff_city,marriage,...,y_installment,y_installment_timestep,y_state_cum_overduelength,y_remaining_debt,y_state_capital,y_state_interests,y_state_penalty,installment_done,loan_done,recovery_rate_weighted
0,train,/+6C2lDDYJgzzCXpn96AFA==,1,18,2000,1,6,16,40421.53,0,...,2,1,2,2000.000000,666.666667,53.333333,3.333333,1,0,0.205350
1,train,/+6C2lDDYJgzzCXpn96AFA==,1,18,2000,1,6,16,40421.53,0,...,2,2,7,2000.000000,666.666667,53.333333,11.666667,0,0,0.000000
2,train,/+6C2lDDYJgzzCXpn96AFA==,1,18,2000,1,6,16,40421.53,0,...,2,3,7,2000.000000,666.666667,53.333333,11.666667,0,0,0.000000
3,train,/+6C2lDDYJgzzCXpn96AFA==,1,18,2000,1,6,16,40421.53,0,...,2,4,8,2000.000000,666.666667,53.333333,13.333333,0,0,0.000000
4,train,/+6C2lDDYJgzzCXpn96AFA==,1,18,2000,1,6,16,40421.53,0,...,3,1,0,1666.666667,666.666667,53.333333,0.000000,1,0,0.177079
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
180220,train,zZidoz4jexrnwPrrefjGlw==,1,21,3000,1,5,20,105465.48,0,...,2,2,0,2400.000000,600.000000,50.000000,0.000000,0,0,0.000000
180221,train,zZidoz4jexrnwPrrefjGlw==,1,21,3000,1,5,20,105465.48,0,...,3,1,0,2400.000000,1200.000000,100.000000,0.000000,1,0,0.000000
180222,train,zZidoz4jexrnwPrrefjGlw==,1,21,3000,1,5,20,105465.48,0,...,4,1,0,2400.000000,1800.000000,150.000000,0.000000,1,0,0.000000
180223,train,zZidoz4jexrnwPrrefjGlw==,1,21,3000,1,5,20,105465.48,0,...,5,1,0,2400.000000,2400.000000,200.000000,0.000000,1,0,0.351620
180224,train,zZidoz4jexrnwPrrefjGlw==,1,21,3000,1,5,20,105465.48,0,...,5,1,0,2400.000000,2400.000000,200.000000,0.000000,1,1,0.265375

In [5]:
from sklearn.preprocessing import StandardScaler

# the columns that we want to normalize are numeric columns (e.g. 'age', 'amount', 'num_loan', 'duration' etc.)
numeric_columns = [
    "gender",
    "age",
    "amount",
    "num_loan",
    "duration",
    "year_ratio",
    "diff_city",
    "marriage",
    "kids",
    "month_in",
    "housing",
    "edu",
    "motivation",
    "installment",
    "installment_timestep",
    "state_cum_overduelength",
    "remaining_debt",
    "state_capital",
    "state_interests",
    "state_penalty",
    "y_installment",
    "y_installment_timestep",
    "y_state_cum_overduelength",
    "y_remaining_debt",
    "y_state_capital",
    "y_state_interests",
    "y_state_penalty",
]


scaler = StandardScaler()
train_no_scaled = simulator_data_train[numeric_columns]
train_no_scaled

,gender,age,amount,num_loan,duration,year_ratio,diff_city,marriage,kids,month_in,...,state_capital,state_interests,state_penalty,y_installment,y_installment_timestep,y_state_cum_overduelength,y_remaining_debt,y_state_capital,y_state_interests,y_state_penalty
0,1,18,2000,1,6,16,40421.53,0,0,2,...,333.333333,26.666667,0.000000,2,1,2,2000.000000,666.666667,53.333333,3.333333
1,1,18,2000,1,6,16,40421.53,0,0,2,...,666.666667,53.333333,3.333333,2,2,7,2000.000000,666.666667,53.333333,11.666667
2,1,18,2000,1,6,16,40421.53,0,0,2,...,666.666667,53.333333,11.666667,2,3,7,2000.000000,666.666667,53.333333,11.666667
3,1,18,2000,1,6,16,40421.53,0,0,2,...,666.666667,53.333333,11.666667,2,4,8,2000.000000,666.666667,53.333333,13.333333
4,1,18,2000,1,6,16,40421.53,0,0,2,...,666.666667,53.333333,13.333333,3,1,0,1666.666667,666.666667,53.333333,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
180220,1,21,3000,1,5,20,105465.48,0,0,1,...,600.000000,50.000000,0.000000,2,2,0,2400.000000,600.000000,50.000000,0.000000
180221,1,21,3000,1,5,20,105465.48,0,0,1,...,600.000000,50.000000,0.000000,3,1,0,2400.000000,1200.000000,100.000000,0.000000
180222,1,21,3000,1,5,20,105465.48,0,0,1,...,1200.000000,100.000000,0.000000,4,1,0,2400.000000,1800.000000,150.000000,0.000000
180223,1,21,3000,1,5,20,105465.48,0,0,1,...,1800.000000,150.000000,0.000000,5,1,0,2400.000000,2400.000000,200.000000,0.000000
180224,1,21,3000,1,5,20,105465.48,0,0,1,...,2400.000000,200.000000,0.000000,5,1,0,2400.000000,2400.000000,200.000000,0.000000

In [6]:
train_scaled = scaler.fit_transform(train_no_scaled)
train_scaled

array([[ 0.54974774, -1.78959245, -1.43049498, ..., -0.73984292,
        -0.68237575, -0.42422455],
       [ 0.54974774, -1.78959245, -1.43049498, ..., -0.73984292,
        -0.68237575, -0.23270276],
       [ 0.54974774, -1.78959245, -1.43049498, ..., -0.73984292,
        -0.68237575, -0.23270276],
       ...,
       [ 0.54974774, -1.26744804,  0.35903541, ...,  0.64839562,
         0.57695127, -0.50083327],
       [ 0.54974774, -1.26744804,  0.35903541, ...,  1.38334543,
         1.22832731, -0.50083327],
       [ 0.54974774, -1.26744804,  0.35903541, ...,  1.38334543,
         1.22832731, -0.50083327]], shape=(180225, 27))

In [10]:
train_scaled_df = pd.DataFrame(train_scaled, columns=numeric_columns)
train_scaled_df

,gender,age,amount,num_loan,duration,year_ratio,diff_city,marriage,kids,month_in,...,state_capital,state_interests,state_penalty,y_installment,y_installment_timestep,y_state_cum_overduelength,y_remaining_debt,y_state_capital,y_state_interests,y_state_penalty
0,0.549748,-1.789592,-1.430495,-0.21118,-0.228040,0.102006,0.731038,-0.00816,-0.029339,0.802058,...,-1.072883,-0.962505,-0.494368,-1.130985,-1.054981,-0.417120,-0.423009,-0.739843,-0.682376,-0.424225
1,0.549748,-1.789592,-1.430495,-0.21118,-0.228040,0.102006,0.731038,-0.00816,-0.029339,0.802058,...,-0.649088,-0.603506,-0.410260,-1.130985,-0.200708,0.084661,-0.423009,-0.739843,-0.682376,-0.232703
2,0.549748,-1.789592,-1.430495,-0.21118,-0.228040,0.102006,0.731038,-0.00816,-0.029339,0.802058,...,-0.649088,-0.603506,-0.199990,-1.130985,0.653566,0.084661,-0.423009,-0.739843,-0.682376,-0.232703
3,0.549748,-1.789592,-1.430495,-0.21118,-0.228040,0.102006,0.731038,-0.00816,-0.029339,0.802058,...,-0.649088,-0.603506,-0.199990,-1.130985,1.507840,0.185017,-0.423009,-0.739843,-0.682376,-0.194398
4,0.549748,-1.789592,-1.430495,-0.21118,-0.228040,0.102006,0.731038,-0.00816,-0.029339,0.802058,...,-0.649088,-0.603506,-0.157936,-0.600429,-1.054981,-0.617832,-0.861173,-0.739843,-0.682376,-0.500833
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
180220,0.549748,-1.267448,0.359035,-0.21118,-0.955485,1.894390,2.566761,-0.00816,-0.029339,-0.525510,...,-0.733847,-0.648380,-0.494368,-1.130985,-0.200708,-0.617832,0.102787,-0.821504,-0.725801,-0.500833
180221,0.549748,-1.267448,0.359035,-0.21118,-0.955485,1.894390,2.566761,-0.00816,-0.029339,-0.525510,...,-0.733847,-0.648380,-0.494368,-0.600429,-1.054981,-0.617832,0.102787,-0.086554,-0.074425,-0.500833
180222,0.549748,-1.267448,0.359035,-0.21118,-0.955485,1.894390,2.566761,-0.00816,-0.029339,-0.525510,...,0.028985,0.024743,-0.494368,-0.069872,-1.054981,-0.617832,0.102787,0.648396,0.576951,-0.500833
180223,0.549748,-1.267448,0.359035,-0.21118,-0.955485,1.894390,2.566761,-0.00816,-0.029339,-0.525510,...,0.791817,0.697866,-0.494368,0.460684,-1.054981,-0.617832,0.102787,1.383345,1.228327,-0.500833
180224,0.549748,-1.267448,0.359035,-0.21118,-0.955485,1.894390,2.566761,-0.00816,-0.029339,-0.525510,...,1.554649,1.370989,-0.494368,0.460684,-1.054981,-0.617832,0.102787,1.383345,1.228327,-0.500833

In [12]:
train_scaled_reverse = scaler.inverse_transform(train_scaled_df)
train_scaled_reverse

array([[1.00000000e+00, 1.80000000e+01, 2.00000000e+03, ...,
        6.66666667e+02, 5.33333333e+01, 3.33333333e+00],
       [1.00000000e+00, 1.80000000e+01, 2.00000000e+03, ...,
        6.66666667e+02, 5.33333333e+01, 1.16666667e+01],
       [1.00000000e+00, 1.80000000e+01, 2.00000000e+03, ...,
        6.66666667e+02, 5.33333333e+01, 1.16666667e+01],
       ...,
       [1.00000000e+00, 2.10000000e+01, 3.00000000e+03, ...,
        1.80000000e+03, 1.50000000e+02, 0.00000000e+00],
       [1.00000000e+00, 2.10000000e+01, 3.00000000e+03, ...,
        2.40000000e+03, 2.00000000e+02, 0.00000000e+00],
       [1.00000000e+00, 2.10000000e+01, 3.00000000e+03, ...,
        2.40000000e+03, 2.00000000e+02, 0.00000000e+00]],
      shape=(180225, 27))

In [ ]:
import torch
from torch.utils.data import Dataset, DataLoader
import numpy as np
from sklearn.preprocessing import StandardScaler

class SimulatorDataset(Dataset):
    def __init__(self, features, targets=None, feature_scaler=None, target_scaler=None, mode='train'):
        """
        Args:
            features: 输入特征（NumPy 数组或 PyTorch 张量）
            targets: 目标变量（可选，回归任务需要）
            feature_scaler: 预训练的特征标准化器（推理时传入）
            target_scaler: 预训练的目标变量标准化器（推理时传入）
            mode: 模式（'train' 或 'eval'）
        """
        self.mode = mode
        
        # 特征标准化
        if mode == 'train':
            # 训练模式：计算均值和标准差
            self.feature_scaler = StandardScaler()
            self.scaled_features = self.feature_scaler.fit_transform(features)
        else:
            # 推理模式：使用预训练的 scaler
            self.scaled_features = feature_scaler.transform(features)
        
        # 转换为 PyTorch 张量
        self.scaled_features = torch.from_numpy(self.scaled_features).float()
        
        # 目标变量标准化（仅回归任务需要）
        if targets is not None:
            if mode == 'train':
                self.target_scaler = StandardScaler()
                self.scaled_targets = self.target_scaler.fit_transform(targets.reshape(-1, 1))
            else:
                self.scaled_targets = target_scaler.transform(targets.reshape(-1, 1))
            
            self.scaled_targets = torch.from_numpy(self.scaled_targets).float()
        else:
            self.scaled_targets = None

    def __len__(self):
        return len(self.scaled_features)

    def __getitem__(self, idx):
        if self.scaled_targets is not None:
            return self.scaled_features[idx], self.scaled_targets[idx]
        else:
            return self.scaled_features[idx]